body{
background-color:black;
background-size: cover;                 
}
table{
border:0;
width:100%;
}
td{
text-align:left;
color:white;
vertical-align:top;
}
div{
display: flex; 
flex-direction: row; 
flex-wrap: wrap; 
align-items: center;
}
img {
max-width: 100%;
height: auto;
width: auto\9;
}
.button {
  display: inline-block;
  padding: 20px 125px;
  font-size: 20px;
  font-family:Copperplate Gothic Light, fantasy;
  font-weight:1000;
  cursor: pointer;
  text-align: center;
  color: black;
  background-color:white; /* oppure image:linear-gradient(180deg, white,gray,black) ma non mi convince*/
  border: none;
  border-radius: 10px;
}

.button:hover {
background-color: orange;
}

.button:active {
  background-color: red;
  transform: translateY(4px);
}
dl{
font-size:20px;
font-family:Copperplate Gothic Light, fantasy;
color:white;
font-weight:700;
text-align:left;
}
h1,h2{
font-size:60x;
font-weight:1000;
font-family:Copperplate Gothic Light, fantasy;
color:white;
}
a:link,a:visited{
color:white;
background-color:transparent;
}
.tab1{
border: 0px; 
background-image:linear-gradient(to left,#1E1E1E,black); 
border-radius: 10px;
}
.tab2{
border: 0px; 
background-image:linear-gradient(to bottom,#1E1E1E,black); 
border-radius: 10px;
}
.tooltip {
position: relative;
	}
.tooltip .tooltiptext {
	
visibility:hidden;
width: 120px;
background-image: linear-gradient(to top, orangered, orange);
color: beige;
font-family:Sans-serif;
font-size:15px;
text-align: center;
border-radius: 10px;
padding: 5px 10px;
position:absolute;
width: 180px;
bottom: 100%;
left: 60%;
margin-left: -65px;
transition: opacity 0.3s;
z-index:1;

}
.tooltip:hover .tooltiptext {
 visibility: visible;
 opacity: 1;
}
.tooltip .tooltiptext::after {
content: "";
position: absolute;
top: 100%;
 left: 50%;
margin-left: -5px;
}
